* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
 
}

.card {
  width: 55%;
  height: 70%;
  background-color: whitesmoke;
  margin-top: 100px; 
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  position: sticky;
  /* background-color: aqua; */
  width: 100%;
}

.right,
.left ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  margin-top: 20px;
}

.nav-left ul li {
  list-style: none;
  color: rgb(193, 182, 182);
  /* display: inline-block; */
}

span {
  font-weight: 600;
  color: #fc7613;
  margin: 10px;
}

hr {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 30px;
  color: antiquewhite;
}

.d-pic {
  width: 30px;
  height: 30px;
  margin-right: 35px;
}

.d-pic img {
  width: 100%;
  height: 100%;
}

.nav-user-icon {
  margin-left: 30px;
}

.center {
  /* width: 80%; */
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex: 1;
}

.features {
  flex-basis: 50%;
  align-items: flex-start;
  text-align: start;
}

.feature-text {
  align-items: flex-start;
  justify-items: self-start;
  padding: 20px;
}

.features-img {
  flex-basis: 50%;
  margin: auto;
}

.features-img .big-img {
  height: 280px;
  object-fit: fit;
}

.features-img ul li {
  width: 20%;
  list-style: none;
  display: inline-block;
}

.features-img img {
  width: 80%;
  margin-top: 4px;
  border-radius: 10px;
}

.features h1 {
  color: #fc7613;
  font-size: small;
  margin: 12px;
  text-align: left;
}

.features h2 {
  margin: 10px;
  text-align: left;
}

.features-text h2 {
  margin-left: 10px;

}

.feature-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

 .p1 {
  padding: 0px;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(79, 77, 77);
}

.dollar {
  color: gray;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: line-through;
}

.feature-text h2 {
  font-weight: 900;
  text-align: start;
}

.feature-text h3 {
  text-align: start;
  margin-left: 10px;
  /* text-decoration: line-through; */
}

.btn {
  font-size: 40px;
  width: 100%;
  padding-left: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  flex-basis: 2;
}

.btn1 {
  display: flex;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  justify-content: space-around;
  height: 40px;
  border: none;
  margin-right: 5px;
  align-items: center;
  background-color: #ffffff;
}

.span1 {
  color:black;
  font-size: 20px;
}

.btn1 img {
  padding-left: 5px;
}

.btn2 {
  font-size: 20px;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: white;
  padding: 4px;
  background-color: #fc7613;
}

.btn2-img {
  justify-content: space-between;

  margin-right: 19px;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    display: grid;
    height: 100vh;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(1, 350px); */
    grid-template-rows: 150px  ;
    gap: 10px;
    justify-content: center;
  }
  .center {
  margin: auto;
  display: grid;
 
}
.right,
.left ul {
  display: grid;
  list-style-type: none;
  gap: 10px;
 
}
.features h1 {
  color: #fc7613;
  margin: 12px;
  text-align: center;
}
.btn {
  display: grid;
  gap: 5px;
  margin-top: 20px;
  
}
.btn2 {
  width: 100%;
}
.btn1{
  width: 100%;
  object-fit: cover;

}
  
}